<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolores
      aut libero quam impedit, maiores numquam excepturi amet, aliquam qui
      doloribus dignissimos dolorum harum eligendi quis mollitia tempora
      perferendis! Quas. Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Voluptas, accusantium quos. Veniam optio iusto nulla laudantium
      libero assumenda qui consequatur, facilis vitae alias itaque quas.
      Architecto neque quis facere praesentium.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
      distinctio fugit magnam aperiam facilis fuga corporis, incidunt blanditiis
      ratione doloribus nostrum? Cupiditate sint quia tempora aut. Eos aut
      praesentium incidunt!
    </p>
  </body>
</html>
